{% sw_extends '@Storefront/storefront/block/cms-block-image-text-row.html.twig' %}

{% block block_image_text_row %}
    {% set columns = 3 %}
    {# @deprecated tag:v6.5.0 - Use "element.id" directly instead. #}
    {% set id = element.id %}
    <div class="container-banners-wrapper-custom">
        {% block block_image_text_row_left %}
            <div class="left-block">
                {% block block_image_text_row_left_image %}
                    {% set element = block.slots.getSlot('left-image') %}

                    <div class="image-left-block" data-cms-element-id="{{ element.id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                        {% block block_image_text_row_left_text %}
                            {% set element = block.slots.getSlot('left-text') %}

                            <div class="text-left-block" data-cms-element-id="{{ element.id }}">
                                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                            </div>
                        {% endblock %}
                        <div class="banner-arrow-btn-block">
                            <span>
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.99995 11.0831L5.24955 10.3335L9.06635 6.53355H0.916748V5.46635H9.06635L5.24955 1.68315L5.99995 0.916748L11.0831 5.99995L5.99995 11.0831Z" fill="white"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                {% endblock %}

                {# {% block block_image_text_row_left_text %}
                    {% set element = block.slots.getSlot('left-text') %}

                    <div class="text-left-block" data-cms-element-id="{{ element.id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %} #}
                
            </div>
        {% endblock %}

        {% block block_image_text_row_center %}
            <div class="center-block">
                {% block block_image_text_row_center_image %}
                    {% set element = block.slots.getSlot('center-image') %}

                    <div class="image-center-block" data-cms-element-id="{{ element.id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                        <div class="banner-arrow-btn-block">
                            <span>
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.99995 11.0831L5.24955 10.3335L9.06635 6.53355H0.916748V5.46635H9.06635L5.24955 1.68315L5.99995 0.916748L11.0831 5.99995L5.99995 11.0831Z" fill="white"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                {% endblock %}

                {% block block_image_text_row_center_text %}
                    {% set element = block.slots.getSlot('center-text') %}

                    <div class="text-center-block" data-cms-element-id="{{ element.id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block block_image_text_row_right %}
            <div class="right-block">
                {% block block_image_text_row_right_image %}
                    {% set element = block.slots.getSlot('right-image') %}

                    <div class="image-right-block" data-cms-element-id="{{ element.id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                        <div class="banner-arrow-btn-block">
                            <span>
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.99995 11.0831L5.24955 10.3335L9.06635 6.53355H0.916748V5.46635H9.06635L5.24955 1.68315L5.99995 0.916748L11.0831 5.99995L5.99995 11.0831Z" fill="white"/>
                                </svg>
                            </span>
                        </div>
                    </div>
                {% endblock %}

                {% block block_image_text_row_right_text %}
                    {% set element = block.slots.getSlot('right-text') %}

                    <div class="text-right-block" data-cms-element-id="{{ element.id }}">
                        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    <style>
        .container-banners-wrapper-custom {
            display: grid;
            grid-gap: 40px;
            grid-template-areas:
                "my-section1 my-section2"
                "my-section1 my-section3";
        }
        .container-banners-wrapper-custom .left-block {
            grid-area: my-section1;
        }
        .container-banners-wrapper-custom .center-block {
            grid-area: my-section2;
            position: relative;
        }
        .container-banners-wrapper-custom .right-block {
            grid-area: my-section3;
            position: relative;
        }
        .container-banners-wrapper-custom .image-left-block {
            border-radius: 15px;
            overflow: hidden;
            position:relative;
            width: 592px;
        }
        .container-banners-wrapper-custom .image-center-block, .image-right-block {
            position: relative;
            overflow: hidden;
            border-radius: 15px;
            width: 608px;
        }
        .container-banners-wrapper-custom .text-left-block, .text-right-block, .text-center-block {
            position: absolute;
            top: 0;
            left: 0;
            padding: 40px;
        }
        .container-banners-wrapper-custom .text-right-block p {
            width: 360px;
        } 
        .container-banners-wrapper-custom .text-center-block p {
            width: 420px;
        }
        .container-banners-wrapper-custom .banner-arrow-btn-block {
            width: 36px;
            height: 36px;
            background: #16413D;
            border-radius: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 48px;
            left: 40px;
        }
        .container-banners-wrapper-custom .banner-arrow-btn-block span{
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container-banners-wrapper-custom .right-block .banner-arrow-btn-block {
            bottom: 40px;
        }
        .container-banners-wrapper-custom .center-block .banner-arrow-btn-block {
            bottom: 40px;
        }
        .container-banners-wrapper-custom .cms-element-text {
            padding-top: 0!important;
        }
        .container-banners-wrapper-custom .cms-element-text h5 {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.005em;
            color: #7A7A7C;
            margin-bottom: 4px;
        }
        .container-banners-wrapper-custom .cms-element-text h4  {
           font-weight: 600;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.0015em;
            color: #252526;
            margin-bottom: 8px;
        }
        .container-banners-wrapper-custom .cms-element-text p  {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.005em;
            color: #252526;

        }
    </style>

{% endblock %}
